USE master
GO

CREATE DATABASE [is1-24-zaripovdm-EstateAgency]
GO

USE [is1-24-zaripovdm-EstateAgency]
GO
/****** Object:  Table [dbo].[Deal]    Script Date: 22.03.2024 23:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deal](
	[Id] [int] NOT NULL,
	[DemandId] [int] NULL,
	[OfferId] [int] NULL,
	[DemandAccept] [bit] NULL,
	[OfferAccept] [bit] NULL,
	[Commission] [float] NULL,
 CONSTRAINT [PK_Deal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demand]    Script Date: 22.03.2024 23:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demand](
	[Id] [int] NOT NULL,
	[AddressCity] [nvarchar](max) NULL,
	[AddressStreet] [nvarchar](max) NULL,
	[AddressHouse] [int] NULL,
	[AddressNumber] [int] NULL,
	[MinPrice] [float] NULL,
	[MaxPrice] [float] NULL,
	[MinArea] [float] NULL,
	[MaxArea] [float] NULL,
	[MinFloors] [int] NULL,
	[MaxFloors] [int] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
	[EstateTypeId] [int] NULL,
 CONSTRAINT [PK_Demand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 22.03.2024 23:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Area] [nvarchar](max) NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estate]    Script Date: 22.03.2024 23:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estate](
	[Id] [int] NOT NULL,
	[AddressCity] [nvarchar](256) NULL,
	[AddressStreet] [nvarchar](256) NULL,
	[AddressHouse] [int] NULL,
	[AddressNumber] [int] NULL,
	[CoordinateLatitude] [float] NULL,
	[CoordinateLongitude] [float] NULL,
	[TotalArea] [float] NULL,
	[TotalFloors] [int] NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
	[EstateTypeId] [int] NULL,
 CONSTRAINT [PK_Estate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstateType]    Script Date: 22.03.2024 23:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstateType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_EstateType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offer]    Script Date: 22.03.2024 23:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offer](
	[Id] [int] NOT NULL,
	[Price] [float] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
	[EstateId] [int] NULL,
 CONSTRAINT [PK_Offer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22.03.2024 23:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](256) NULL,
	[MiddleName] [nvarchar](256) NULL,
	[LastName] [nvarchar](256) NULL,
	[Phone] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[DealShare] [int] NULL,
	[UserTypeId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 22.03.2024 23:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Demand] ([Id], [AddressCity], [AddressStreet], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [MinArea], [MaxArea], [MinFloors], [MaxFloors], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [AgentId], [ClientId], [EstateTypeId]) VALUES (1, N'', N'', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 4, 23, 3)
INSERT [dbo].[Demand] ([Id], [AddressCity], [AddressStreet], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [MinArea], [MaxArea], [MinFloors], [MaxFloors], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [AgentId], [ClientId], [EstateTypeId]) VALUES (2, N'', N'', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 4, 16, 2)
INSERT [dbo].[Demand] ([Id], [AddressCity], [AddressStreet], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [MinArea], [MaxArea], [MinFloors], [MaxFloors], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [AgentId], [ClientId], [EstateTypeId]) VALUES (3, N'', N'', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 19, 10, 2)
GO
INSERT [dbo].[District] ([Id], [Name], [Area]) VALUES (1, N'Лесная поляна с/о', N'((57.0731042147057,65.549416154359),(57.0745884264208,65.5493517813426),(57.0745884264208,65.5516048369151),(57.0725432372756,65.5515404638987),(57.0731042147057,65.549416154359))')
INSERT [dbo].[District] ([Id], [Name], [Area]) VALUES (2, N'Марай ', N'((56.8549652558969,66.014590740761),(56.8566110370811,66.0143332486955),(56.860184483092,66.0265212064592),(56.8588679902234,66.0328726774065),(56.8566110370811,66.0313277250139),(56.8532723765529,66.0339884763566),(56.8532253510366,66.0188822751848),(56.8530842741093,66.0194830900041),(56.8549652558969,66.014590740761))')
INSERT [dbo].[District] ([Id], [Name], [Area]) VALUES (3, N'Ольховое с/о', N'((56.9367892844497,65.8276850838403),(56.9354285777792,65.829616274331),(56.9356162644209,65.8304316658715),(56.9358039501145,65.8316762108544),(56.9373992402273,65.8348948616723),(56.9388302510096,65.8318478722314),(56.9367892844497,65.8276850838403))')
GO
INSERT [dbo].[Estate] ([Id], [AddressCity], [AddressStreet], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalArea], [TotalFloors], [Rooms], [Floor], [EstateTypeId]) VALUES (1, N'Тюмень', N'Энергостроителей', 25, 12, 0, 0, 41.7, NULL, 1, 3, 3)
INSERT [dbo].[Estate] ([Id], [AddressCity], [AddressStreet], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalArea], [TotalFloors], [Rooms], [Floor], [EstateTypeId]) VALUES (2, N'Тюмень', N'Елизарова', 8, 44, 0, 0, 105, NULL, 3, 5, 3)
INSERT [dbo].[Estate] ([Id], [AddressCity], [AddressStreet], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalArea], [TotalFloors], [Rooms], [Floor], [EstateTypeId]) VALUES (3, N'Тюмень', N'Московский тракт', 139, 6, 0, 0, 62, NULL, 3, 2, 3)
GO
INSERT [dbo].[EstateType] ([Id], [Name]) VALUES (1, N'Земля')
INSERT [dbo].[EstateType] ([Id], [Name]) VALUES (2, N'Дом')
INSERT [dbo].[EstateType] ([Id], [Name]) VALUES (3, N'Квартира')
GO
INSERT [dbo].[User] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email], [DealShare], [UserTypeId]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', N'', N'', 20, 2)
INSERT [dbo].[User] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email], [DealShare], [UserTypeId]) VALUES (2, N'Семенов', N'Евгений ', N'Николаевич', N'32-25-55', N'', NULL, 3)
INSERT [dbo].[User] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email], [DealShare], [UserTypeId]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', N'', N'dummy@email.ru', NULL, 3)
GO
INSERT [dbo].[UserType] ([Id], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[UserType] ([Id], [Name]) VALUES (2, N'Риэлтор')
INSERT [dbo].[UserType] ([Id], [Name]) VALUES (3, N'Клиент')
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [FK_Deal_Demand] FOREIGN KEY([DemandId])
REFERENCES [dbo].[Demand] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [FK_Deal_Demand]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [FK_Deal_Offer] FOREIGN KEY([OfferId])
REFERENCES [dbo].[Offer] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [FK_Deal_Offer]
GO
ALTER TABLE [dbo].[Demand]  WITH CHECK ADD  CONSTRAINT [FK_Demand_Agent] FOREIGN KEY([AgentId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Demand] CHECK CONSTRAINT [FK_Demand_Agent]
GO
ALTER TABLE [dbo].[Demand]  WITH CHECK ADD  CONSTRAINT [FK_Demand_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Demand] CHECK CONSTRAINT [FK_Demand_Client]
GO
ALTER TABLE [dbo].[Demand]  WITH CHECK ADD  CONSTRAINT [FK_Demand_EstateType] FOREIGN KEY([EstateTypeId])
REFERENCES [dbo].[EstateType] ([Id])
GO
ALTER TABLE [dbo].[Demand] CHECK CONSTRAINT [FK_Demand_EstateType]
GO
ALTER TABLE [dbo].[Estate]  WITH CHECK ADD  CONSTRAINT [FK_Estate_EstateType] FOREIGN KEY([EstateTypeId])
REFERENCES [dbo].[EstateType] ([Id])
GO
ALTER TABLE [dbo].[Estate] CHECK CONSTRAINT [FK_Estate_EstateType]
GO
ALTER TABLE [dbo].[Offer]  WITH CHECK ADD  CONSTRAINT [FK_Offer_Agent] FOREIGN KEY([AgentId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Offer] CHECK CONSTRAINT [FK_Offer_Agent]
GO
ALTER TABLE [dbo].[Offer]  WITH CHECK ADD  CONSTRAINT [FK_Offer_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Offer] CHECK CONSTRAINT [FK_Offer_Client]
GO
ALTER TABLE [dbo].[Offer]  WITH CHECK ADD  CONSTRAINT [FK_Offer_Estate] FOREIGN KEY([EstateId])
REFERENCES [dbo].[Estate] ([Id])
GO
ALTER TABLE [dbo].[Offer] CHECK CONSTRAINT [FK_Offer_Estate]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType] FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[UserType] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserType]
GO
